<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raúl Marrone</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="container">
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
</div>

<script>
    const toggleButton = document.getElementById("darkMode").addEventListener("change", function() {
        document.body.classList.toggle("dark-mode");
    });    
</script>



</body>
</html>
